.for-clients {
  max-width: 100%;
  background: #ffffff;
  max-width: 1240px;
  /* margin-right: auto; */
  /* margin-top: 80px; */
  /* margin-bottom: 94px; */
  margin: 80px 40px 94px 40px;
}

.for-clients__text {
  max-width: 815px;
  margin: 0;
  margin-top: 30px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;

  color: #1A1B22;
}

.for-clients__title {
  max-width: 815px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;

  color: #1A1B22;
}

@media (min-width: 320px) and (max-width: 767px) {
  .for-clients {
    margin: 0 auto 16px 16px;
  }

}
