/* @font-face {
  font-family: 'Robotoslab';
  font-size: normal;
  src: url('../../fonts/robotoslab-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: normal;
  src: url('../../fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: medium;
  src: url('../../fonts/roboto-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Robotoslab';
  font-size: bold;
  src: url('../../fonts/RobotoSlab-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Source-Sans-pro';
  font-size: normal;
  src: url('../../fonts/source-sans-pro-regular.woff') format('woff');
} */

.page {
  max-width: 1440px;
  /* width: 100%; */
  height: 100%;
}
