@font-face {
  font-family: 'Robotoslab';
  font-size: normal;
  src: url('../../fonts/robotoslab-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: normal;
  src: url('../../fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: medium;
  src: url('../../fonts/roboto-medium-webfont.woff') format('woff');
}
