@font-face {
  font-family: 'Robotoslab';
  font-size: normal;
  src: url('../../fonts/robotoslab-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: normal;
  src: url('../../fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: medium;
  src: url('../../fonts/roboto-medium-webfont.woff') format('woff');
}

.search {
  /* display: flex;
  flex-direction: column; */
  position: relative;
  /* margin: auto 160px auto auto; */
  width: 1440px;
  height: 496px;
  /* border: 1px solid blue; */


}

.search__title {
  margin: 80px 416px auto 416px;
  width: 608px;
  height: 128px;

  font-family: 'Robotoslab';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}

.search__subtitle {
  width: 550px;
  height: 48px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 32px 476px 64px 416px;
  color: #FFFFFF;
}

.search__field {
  width: 698px;
  height: 64px;
  margin: auto 416px 80px 416px;
  /* border: 1px solid white; */
  border-radius: 100px;
  position: relative;
}

.search__button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 100px;
  width: 168px;
  height: 64px;
  position: absolute;
  right: 0;
  top:0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.search__button:hover {
  /* background-color: red; */
}

.search__input {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  padding-left: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* margin-bottom: 80px; */
  /* margin: 0 416px 80px 416px; */
}
