
@font-face {
  font-family: 'Roboto';
  font-size: medium;
  src: url('../../fonts/roboto-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-size: medium;
  src: url('../../fonts/source-sans-pro-regular.woff') format('woff');
}

.footer {
  width: 1440px;
  height: 80px;
  background: #FFFFFF;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.footer__copyright {
  width: 200px;
  height: 22px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  margin: 33px 240px 25px 104px;
}

.footer__navigation {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  height: 22px;
  margin-top: 20px;
}

.footer__links {
  /* width: 400px;
  height: 22px; */
  /* margin-top: 30px; */
  /* margin-bottom: 28px; */
  /* border: 1px solid green; */
  /* display: flex;
  justify-content: space-between; */

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;
}

.footer a {
  text-decoration: none;
}

.footer__navigation{
  border: solid 1px red;
  width: 400px;
  height: 22px;
  margin-top: 30px;
  margin-bottom: 28px;
}

/* .footer ul {
  padding-left: 0;
  margin-top:0;
  margin-bottom:0;
} */

.footer li {
  list-style-type: none;
  float: left;
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-between; */
}


.footer__icons {
  width: 72px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 104px;
}

.footer__icons_gh {
  width: 24px;
  height: 24px;
  background-image: url('../../images/github-icon.png');
  background-size: contain;
  margin-top: 30px;
  margin-bottom: 30px;
}


.footer__icons_fb {
  width: 24px;
  height: 24px;
  background-image: url('../../images/facebook-icon.png');
  background-size: contain;
  margin-top: 28px;
  margin-bottom: 28px;
}

/* .footer__icons_gh:hover {
  fill: #913399;
}

.footer__icons_fb:hover {
  fill: #3B5998;
} */





