/* @font-face {
  font-family: 'Robotoslab';
  font-size: normal;
  src: url('../../fonts/robotoslab-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: normal;
  src: url('../../fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: medium;
  src: url('../../fonts/roboto-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Robotoslab';
  font-size: bold;
  src: url('../../fonts/RobotoSlab-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Source-Sans-pro';
  font-size: normal;
  src: url('../../fonts/source-sans-pro-regular.woff') format('woff');
} */

.block {
  width: 100%;
  position: relative;
  background-image: url(../../images/background.jpg);
  background-size: cover;
  color: white;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px) and (max-width: 1439px) {

}


@media (min-width: 320px) and (max-width: 767px) {
  .block {
    background-position-x: center;
  }
}
