@font-face {
  font-family: 'Robotoslab';
  font-size: normal;
  src: url('../../../fonts/robotoslab-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: normal;
  src: url('../../../fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: medium;
  src: url('../../../fonts/roboto-medium-webfont.woff') format('woff');
}

.news {
  position: relative;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows:  576px 576px;
  grid-gap: 16px;
  /* grid-column-gap: 32px; */
  padding-top: 64px;
}

.news__item {
  /* border: 1px solid black; */
  border-radius: 16px;
  width: 400px;
  height: 576px;
  background: #FFFFFF;

}

.news__item_image {
  width: 400px;
  height: 272px;
  border-radius: 16px;
  margin-bottom: -4px;
}

.news__item_date {
  /* margin-left: 24px; */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  width: 128px;
  height: 24px;
  margin: 20px 248px 0px 24px;
}

.news__item_title {
  /* margin-left: 24px; */
  font-family: 'Robotoslab';
  font-size: 26px;
  width: 352px;
  height: 60px;
  margin: 12px 24px 16px 24px;
}

.news__item_content {
  /* margin-left: 24px; */
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 22px;
  width: 352px;
  height: 110px;
  margin: 16px 24px 18px 24px;
}

.news__item_source {
  /* margin-left: 24px; */
  font-family: 'Robotoslab';
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  width: 352px;
  height: 20px;
  margin: 18px 24px 24px 24px;
}

