@import url('./__logo/header__logo.css');
@import url('./__link/header__link_about.css');
@import url('./__link/header__link_main.css');

.header {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 80px;
  border: 1px solid red;
}

.header__logo {
  font-size: 20px;
  font-weight: bold;
}

.header__link_about {
  position: absolute;
  right: 220px;
  top: 30px;
  font-size: 18px;
}