@font-face {
  font-family: 'Robotoslab';
  font-size: normal;
  src: url('../../fonts/robotoslab-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: normal;
  src: url('../../fonts/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-size: medium;
  src: url('../../fonts/roboto-medium-webfont.woff') format('woff');
}


.header {
  width: 1440px;
  height: 80px;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-family: 'Robotoslab';
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}


.header__link {
  position: absolute;
  right: 100px;
  top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  text-decoration: none;
}

.header__link_active {
  position: absolute;
  top: 30px;
  right: 220px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}



