.techs {
  width: 100%;
  height: 334px;
  background-color: #F5F6F7;
  height: 334px;
  display: flex;
  justify-content: space-between;
}

.techs__title {
  max-width: 344px;
  height: 92px;
  margin-top: 80px;
  margin-left: 104px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.techs__group {
  width: 600px;
  height: 153px;
  margin: 93px 216px 88px auto;
  /* display: flex; */
  justify-content: space-between;

  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows:  153px;
  grid-gap: 40px;
  /* margin: 87px auto 0 auto; */
  /* justify-content: center; */
}

/* .techs__element {
  width: 120px;
  height: 153px;
} */

.techs__name {
  margin-top: 0;
  margin-bottom: 9px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #1A1B22;
}


.techs__image {
  width: 120px;
  height: 120px;

  /* color: #F5F6F7; */
}

.techs__image_html {
  background-image: url('../../images/html.svg');
  background-size: auto;
  /* border-color: transparent; */
  /* box-shadow: red; */
}

.techs__image_css {
  background-image: url('../../images/css.svg');
  background-size: cover;
}


.techs__image_js {
  background-image: url('../../images/js.svg');
  background-size: cover;
}


.techs__image_wp {
  background-image: url('../../images/webpack.svg');
  background-size: cover;
}


@media (min-width: 768px) and (max-width: 1439px) {
  .techs {
    flex-direction: column;
    height: 340px;
    justify-content: space-around;
  }

  .techs__title {
    width: 336px;
    height: 68px;
    margin: 40px auto 0 40px;
    font-size: 30px;
    line-height: 34px;
  }

  .techs__group {
    height: 153px;
    margin: 40px auto 40px auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .techs {
    flex-direction: column;
    height: 528px;
  }

  .techs__title {
    margin: 32px auto 0 32px;
    height: 80px;
  }

  .techs__group {
    grid-template-columns: 120px 120px ;
    grid-template-rows:  153px 153px;
    grid-gap: 32px;

    margin: 40px auto 40px auto;
    width: 272px;
    height: 338px;
  }



}